/**
 * This CSS file contains styles for the search results component.
 * It includes styles for buttons.
 */
/* Buttons css */
.editButton {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 12px 36px;
    color: #fff;
    background-color: #067b93;
    transition: background-color .5s ease;
    white-space: nowrap;
}

.navBtn {
    width: 24px;
    height: 24px;
    font-weight: 900;
    font-size: 12px;
    color: #067b93;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
}

.imgCarausel {
    margin: 0px;
    height: 252px;
    padding: 0;
}

.imgCarauselNavBar {
    display: flex;
    position: relative;
    align-items: center;
    top: -26px;
    z-index: 100;
    margin: 0;
    height: 24px;
    flex-direction: row;
}

.cardbtn {
    width: 227px;
    height: 60px;
    border-radius: none;
}

.imageCounter {
    background-color: rgba(23, 45, 34, 0.5);
    width: 100%;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
    letter-spacing: normal
}

.cardbtncontainer {
    height: "10%";
    display: "flex";
    flex-direction: "row"
}

.carddetails {
    height: auto;
    padding: 20px;
    width: 310px;
}

.cardImageContainer {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.holidaysFound {
    background-color: #067b93;
    border-radius: 3px;
    padding: 5px 3px;
    color: #fff;
    width: 24px;
    text-align: center;
    margin-right: 4px;
}

/*  colors */

.bgGrey {
    background-color: #f5f5f5;
}